html {
 /*Setting the background color to a friendly Ivory, like the keys of a piano*/
 background-color: #FFFFF0;
}

body {
 margin: 0;
 padding: 10px;
}

h1, h2, header > p {
 font-family: Helvetica, Garamond, Times New Roman;
 text-align: center;
}
	
img {
 width: 250px;
 height: 300px;	
}

/*Creating a nice circular presentation of my headshot*/
.img-circle {
 display: block;
 margin: auto;
 border-radius: 50%;	
}

a, h3 {
 font-family: Helvetica, Garamond, Times New Roman;
 font-size: 14px; 
}

a:link	{ color: blue; }
a:visited { color: red; }
a:hover	{ color: green; }
a:active { color: yellow; }

/*This is pretty plain so far, but I'll continue adding to it as I progress*/
